%nav#sidebar
  .custom-menu
    %button#sidebarCollapse.btn.btn-primary{:type => "button"}
  .img.bg-wrap.text-center.py-4{:style => "background-image: ;"}
    .user-logo
      .img
        .background-image
          =link_to root_path do
            %h3
              =image_tag('logo.png', height: '100', width: '100')
  %ul.list-unstyled.components.mb-5
    - side_bar_items.each do |item|
      - if item[:controller].to_s == controller.controller_name
        %li.active
          = link_to(url_for(controller: item[:controller], action: item[:action]), class: item[:class]) do
            = fa_icon(item[:icon], class: "mr-3")
            = item[:name]
      - else
        %li
          = link_to(url_for(controller: item[:controller], action: item[:action]), class: item[:class]) do
            = fa_icon(item[:icon], class: "mr-3")
            = item[:name]
